@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  box-sizing: border-box;
}
:root {
  --white: #fafafa;
  --Black: #4f4f4f;
  --Blue: #6c97ea;
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--white);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0px 40px;
  height: 100px; /* Increased height */
  position: fixed;
  top: 0;
  left: 5%; 
  width: 90%; 
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 20px; 
  box-sizing: border-box; 
}


.navbar ul {
  display: flex;
  border-radius: 56px;
  background: var(--white);
  text-decoration: none;
  list-style: none;

  padding: 0px 20px;
  color: #242424;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo {
  color:var(--Blue);
  font-family: "Bebas Neue";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Push the content down so it doesn't sit under the fixed navbar */
body {
  padding-top: 70px; 
}

.navbar-logo {
  width: 240px;
  padding-left: 80px;
  /* Removed padding-top as it's no longer needed */
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  /* Removed margin-top as it's no longer needed */
  padding-right: 20px;
}
.navbar a {
  display: block;
  position: relative;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-decoration: none;
}
.navbar a:hover {
  color: #275ec3;
}
.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
  width: 10px;
  height: 10px;

  border-radius: 23px;
  background: var(--Blue);
  box-shadow: 0px 0px 1.3px 0px rgba(0, 0, 0, 0.25);
}
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: -70px !important;
  overflow: hidden;
}
.homeRightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}
.homeRightTopPar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--Black);
  font-family: "Bebas Neue";
  font-size: 91px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homeRightBottomPar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.homeRightBottomPar span {
  color: var(--Black);
  font-family: "Roboto";
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homeLeftContainer {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(
      90deg,
      var(--white) 0%,
      rgba(255, 255, 255, 0) 48.5%
    ),
    url(./pictures/Europe.svg), lightgray 50% / cover no-repeat;
}
.subContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.digitalization {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.digitalization::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1px;
  height: 334px;
  background: #c9c9c9;
}

.digitalizationContaienr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: right;
  transition: 0.5s;
  padding: 100px;
  width: 50%;
  height: 80vh;
}

.digitalizationContaienr:hover {
  background-color: var(--Black);
}
.digitalizationContaienr:hover .paragraph {
  color: var(--white);
}
.paraHeader {
  color: var(--Blue);
  font-family: "Bebas Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.paragraph {
  width: 85%;
  color: var(--Black, #4f4f4f);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}

.animated-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3rem;
  line-height: 1.2;
  padding: 20px;
  height: 60%;
  width: 80%;
  max-width: 1200px;
  box-sizing: border-box;
  /* color:#275ec3; */
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-family: "Roboto";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(86, 112, 215, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  -webkit-text-stroke-width: 0.01px; /* width of the stroke */
  -webkit-text-stroke-color: black; /* color of the stroke */
  text-shadow: 1px 1px 0 #000,
    /* Horizontal shadow, Vertical shadow, Blur radius, Color */ -1px -1px 0
      #000,
    /* Adding multiple shadows for a more defined edge */ 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.animated-text span {
  vertical-align: top;
  min-height: 1.2em;
  display: inline-block;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  background-color: currentColor;
  width: 2px;
  height: 1em;
  animation: blink 1s step-start infinite;
}
#factor,
#impacts,
#future {
  opacity: 0;
}

/* digitalization section css */
/* #digitalization {
  background-color: white;
  min-height: 725px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
  box-sizing: border-box;
  font-family: "Roboto";
  border-top: 5px solid #275ec3;
  border-bottom: 5px solid #275ec3;
}
#digitalization h2 {
  color: #275ec3;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}
#digitalization p {
  font-size: 1rem;
  color: #000;
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Lato";
}
@media (max-width: 1024px) {
  #digitalization {
    flex-direction: column;
  }
  #digitalization {
    padding: 20px;
  }
} */

/* factors design */
/* Base Layout */
/* General Layout Adjustments */
.plot-container {
  background-color: #fff;
  height: 100vh;
  width: 60vw;
  margin-top: 5%;
  margin-bottom: 5%;

  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Adjust the alignment as needed */
  height: auto;
}
.guide-container {
  background: #f9f9f9; /* A softer background color */
  width: 25%;
  margin-right: 2%;
  margin-top: 1%;
  min-height: 150px;
  max-height: 82vh;
  padding: 20px;
  overflow-y: auto;
  border-radius: 8px;
  border: 3px solid #005a9e; /* Updated border color */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Softer shadow */
  overflow: hidden;
  transform: translateY(-50px);
  animation: enterGuide 0.5s ease-out forwards, float 5s ease-in-out infinite;
}
/* 
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.name {
  font-size: 30px;
}
.footerContainer img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
} */

@keyframes enterGuide {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.guide-container h2 {
  color: #005a9e;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Updated font */
  animation: slideIn 0.5s 0.5s ease-out forwards;
}

.guide-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.guide-container li {
  background: linear-gradient(145deg, #6ba8e5, #1e90ff);
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  left: -300px;
  animation: slideIn 0.5s ease-out forwards;
  animation-delay: calc(0.1s * var(--i));
  max-height: 10%;
  overflow: hidden;
}

.guide-container li:hover {
  background: #3a80d6; /* Darker gradient on hover */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease; /* Deeper shadow for a "lifted" effect */
}

@keyframes slideIn {
  to {
    left: 0;
  }
}

/* Updated spinning animation for a more subtle and sophisticated look */
#guide-container::before,
#guide-container::after {
  content: "";
  position: absolute;
  top: -25%;
  right: -25%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
  width: 150%;
  height: 150%;
  border-radius: 50%;
  z-index: -1;
  animation: spin 60s linear infinite;
}

#guide-container::after {
  top: auto;
  bottom: -25%;
  right: auto;
  left: -25%;
  background: radial-gradient(circle, transparent, rgba(255, 255, 255, 0.2));
  animation-direction: reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Updated float animation for a more natural feel */
@keyframes float {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

img {
}

#factor_intro{
margin-top: 5%;
}
.SectionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: 15vh;
  flex-shrink: 0;

  /* background: #efefef; */
  background: #fafafa;

  color: var(--Black);
  font-family: "Bebas Neue";
  font-size: 69px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newContainer {
  margin-top: 10%;
  min-height: 105vh;
  width: 98vw;
  background: var(--Black);
}
.subHeader {
  padding: 30px 0px;
  padding-left: 200px;
  width: 100%;
  background: var(--Blue);

  color: var(--white);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.plotDescription {
  padding: 60px 200px;
  color: var(--white);
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: var(--Black);
  background-repeat: no-repeat;
  background-size: cover;
}
.newPlotContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  width: 98vw;
  min-height: 60% !important;
  max-height: 60% !important;;
}

.newPlotContainer:nth-child(even) {
  flex-direction: row-reverse;
}
.newGuideContainer {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 50vh !important;
  width: 400px;
}
.newGuideContainer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}
.newGuideContainer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
  min-height: 68px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #eee;

  text-align: center;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;

  color: var(--Black);
  font-family: "Bebas Neue";
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.newGuideContainer ul li:hover {
  scale: 1.05;
}
.plotGuideHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Blue);
  font-family: "Bebas Neue";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h2 {
  color: #005792;
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 30px; /* Increased space between the title and subtitle */
}

.psep {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  margin-bottom: 50px;
}
#factor_2 p {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#factor_3 p {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#factor_4 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#factor_5 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#Improvements_1 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#line_plot {
  border-radius: 8px;
  overflow: hidden;
  /* flex-grow: 1; */
  overflow: hidden;
}
#bar_plot {
  border-radius: 8px;
  overflow: hidden;
}
#heat_plot {
  border-radius: 8px;
  overflow: hidden;
}

#sankey_plot {
  border-radius: 8px;
  overflow: hidden;
}
#scatter_plot {
  border-radius: 8px;
  overflow: hidden;
}
#pie_plot {
  border-radius: 8px;
  overflow: hidden;
}
#Improvements_2 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#map_plot {
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  border-radius: 8px;
  overflow: hidden;
  display: flex; /* Ensures content is centered */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
#Improvements_3 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#lolli_plot {
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  border-radius: 8px;
  overflow: hidden;
  display: flex; /* Ensures content is centered */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.section2 {
  text-align: center;
  padding: 40px;
}
.section3 {
  text-align: center;
  padding: 40px;
}

#impact_1 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#treemap_plot {
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  border-radius: 8px;
  overflow: hidden;
  display: flex; /* Ensures content is centered */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
#impact_2 {
  font-size: 1.8em;
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 5%;
  padding-bottom: 5%;
}
#stacked_plot {
  background-color: #fff;
  /*  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  border-radius: 8px;
  overflow: hidden;
  display: flex; /* Ensures content is centered */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* .Footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px black solid;
  width: 98vw;
  min-height: 400px;
}
.footerContainer {
  width: 300px;
  height: 300px;
}


@media (max-width: 768px) {
  .icon {
    width: 60px;
    height: 60px;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.4em;
  }

  .icon-bg {
    padding: 8px;
  }
} */
.Footer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  border-top: 1px solid #e1e1e1;
  width: 100%;
  background-color: #ffffff;
  padding: 40px 10%;
  box-sizing: border-box;
  font-family: 'roboto';
   border-top: 5px solid #4f4f4f;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally in the column */
  justify-content: center;
}

.footerContainer img {
  width: 280px;
  min-height: 180px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5%;
}

.name {
  font-size: 34px;
  text-align: center; /* Center the names text */
  color: #333;
  margin-bottom: 2%;
  word-spacing: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    padding: 20px 5%; /* Adjust padding for smaller screens */
  }

  .footerContainer img {
    width: 150px; /* Adjust image size for smaller screens */
  }

  .name {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}
